@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,400;1,600&display=swap')
@import '@/styles/colors'

$font__default: "Kanit", sans-serif

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: $font__default
  border-style: none

body
  background-color: $color__background--dark
  cursor: url('target_white.png'), pointer


a
  text-decoration: none
  color: white

li
  list-style: none
